.menu-crd {
  width: 100%;
  max-height: 280px;
  overflow-y: scroll;
  /* border-bottom: 1px solid #c9c9c8; */
}

.menu-crd::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

.menu-crd::-webkit-scrollbar-thumb {
  background: #e5e5e5; 
}

.menu-crd::-webkit-scrollbar-thumb:hover {
  transition: 0.5s;
  cursor: pointer;
  background: #4a9fab; 
}
.tabl,
.Table {
  width: 100%;
}

.menu-container {
  border-bottom: 1px solid #c9c9c8;
  border-radius: 6px 0 0 0;
}

.Table{
  border-radius: 6px;
}

.Table td{
padding: 4%;
}

.menu-card{
  border-radius: 6px;
}

.menu-crd th {
  width: 100%;
  padding: 3%;
  /* border: 1px solid #c9c9c8; */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.menu-crd td {
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  transition: 0.4s;

}

.menu-crd td:hover {
    /* cursor: pointer; */
    background-color: #eff7f9;
    border-left: 6px solid #4a9fab;
}

.menu-crd table {
  background-color: #fff;
  /* width: 25%; */
  font-size: 18px;
  /* border: 1px solid #c9c9c8; */
}

.edit-icon{
  cursor: pointer;
  
}

.menu-icon svg , .menu-filter-icon svg{
  width: 110%;
  height: 110%;
  /* padding-right: 20%; */
}
.menu-icon{
  padding-right: 1em;
}
