.revdp{
    width: 100px;
    /* background-color: aquamarine; */
    /* height: 60%;
    width:  6%; */
    /* background-color: #bbb;
    border-radius: 50%;
    margin-right: 2%; */
}


.revdp img{
    height: 10%;
    width:  50%;
    background-color: #bbb;
    border-radius: 50%;  
}

.ant-table-tbody{
    text-align: center !important;
}

.ant-table-cell{
    text-align: center !important;
}


tr:nth-child(odd){
    background-color: #efefee;
  }