.addmain{
    margin-left:  8%;
    margin-right: 8%;
}

.addresdiv1{
    text-align: left;
    padding: 1%;
}
.addresdiv1 input{
    padding: 1.2% 50% 1.2% 2%;
    border-radius: 4px;
    border: 1px solid #c9c9c8;
    font-size: 16px;
}

.addresdiv1 p{
    font-weight: 500;
    font-size: 16px;
}