.reviewmain{
    margin-right: 4%;
    margin-left:  4%;
}
.reviewdiv1{
    border: 1px solid #c9c9c8;
    border-radius: 5px;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 1%;
    margin: 1%;
}

.revdp{
    background-color: aquamarine;
    height: 60%;
    width:  6%;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 2%;
    /* display: inline-block; */
}

.userinfo{
    /* align-items: center; */
    /* line-height: 52%; */
}

.revdp img{
    height: 100%;
    width:  100%;
    background-color: #bbb;
    border-radius: 50%;
       
}