
/* .main{
    height: 100%;
    width: 100%;
  } */

.main-container {
  position: fixed;
  float: left;
  transition: 0.5s;
  overflow-y: scroll;
  width: 200px;
  height: 100%;
  background: white;
  border-right: 2px solid #e5e5e5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

.main-container::-webkit-scrollbar-thumb {
  background: #e5e5e5; 
}

.main-container::-webkit-scrollbar-thumb:hover {
  transition: 0.5s;
  cursor: pointer;
  background: #4a9fab; 
}

.nav-bar {
  position: relative;
  float: left;
  width: 90%;
  height: 50;
}

.logo-img {
  font-size: 18px;
  white-space: nowrap;
  height: 30%;
  width: 180px;
  /* line-height: 0; */
}

.img {
  width: 100%;
  height: 100%;
}

.title {
  padding: 13px;
  display: flex;
  background-color: white;
  /* padding-left: 29px; */
  transition: 0.5s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  /* transition-delay: 1s; */
}

.title:hover {
  cursor: pointer;
  background-color: #eff7f9;
  border-left: 6px solid #4a9fab;
}

.titles #active{
  background-color: #eff7f9;
  border-left: 6px solid #4a9fab;
}

.nav-bar {
  width: 100%;
}

.navbar {
  --bs-navbar-padding-x: none !important;
  overflow: hidden;
  background-color: white;
  padding: none !important;
  border-bottom: 2px solid #e5e5e5;
  transition: 0.5s;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  transition: 0.5s;
}

/* The dropdown container */
.dropdown {
  color: gray;
  float: left;
  overflow: hidden;
  border: 2px solid #e5e5e5;
  border-radius: 16px;
  transition: 0.5s;
}

/* Dropdown button */
.dropdown .dropbtn {
  color: gray;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  transition: 0.5s;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #e5e5e5;
  color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.icon-desk,
.icon-bill {
  padding-right: 5px;
}

.icon-drop {
  padding-left: 15px;
}

.navbar .icon-desk svg,
.navbar .icon-bill svg {
  width: 1.5em;
  height: 1.5em;
}

.nav-logo-img {
  font-size: 10px;
  white-space: nowrap;
  height: 50%;
  width: 40px;
}

.trail-btn {
  color: red;
  border-radius: 2px;
  border: red solid 1px;
  padding: 2px;
  background-color: white;
}

.sidebar-icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebar-label {
  flex: 70%;
}


.top-bar{
  justify-content: right;
}