.configdiv1{
    border: 1px solid #c9c9c8;
    padding: 1%;
    text-align: left;
}

.configsubdiv1{
    text-align: left;
    padding: 1%;
}
.configsubdiv1 h5{
    padding-top: 2%;
}

.configsubdiv1 input{
    width: 100%;
    padding: 1.2% 1% 1.2% 1%;
    border-radius: 4px;
    border: 1px solid #c9c9c8;
    font-size: 16px;
}

.configsubdiv1 p{
    font-size: 16px;
    font-weight: 500;
}

.configdiv2{
    border: 1px solid #c9c9c8;
    padding: 1%;
    margin: 0% 1% 1% 1%;
}

.configsubdiv3{
    display: flex;
    justify-content: space-around;
    padding: 1%;
    /* text-align: right; */
}

.configsubdiv3 input{
    width: 280px;
    border-radius: 4px;
    border: 1px solid #c9c9c8;
    font-size: 16px;
    /* margin-left: 3%; */
}

.configsubdiv3 p{
    font-size: 16px;
    font-weight: 400;
    color: #999999;

}

.profilesavebtn{
    text-align: left;
    padding: 1%;
}

.profilesavebtn button{
    font-size: 16px;
    background: #3c9ca7;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0.5% 4% 0.5% 4%;
}