.main-menu {
  width: 100%;
  padding-top: 6% !important;
  padding: 2.5%;
  transition: 0.5s;
}

.menu-cont {
  border: 1px solid #c9c9c8;
  border-radius: 6px;
  margin-right: 2%;
}

.menu-cont .ant-col {
  border: 1px solid #c9c9c8;
}

.card-container{
    padding-top: 4% !important;
}

